<!-- Dark Mode Toggle -->
<app-dark-mode-toggle></app-dark-mode-toggle>

<!-- Background Image Container -->
<div class="background-container" [ngStyle]="getBackgroundStyle()">

  <!-- Content Overlay -->
  <div class="content-overlay">
    
    <!-- Header -->
    <header class="w3-panel w3-center" style="padding:2vh 16px">
      <h1 id="name">Albert "The Photograbert" Youssef</h1>
      <p id="quote">
        "What I like about photographs is that they capture a moment that's gone forever, impossible to reproduce." – Karl Lagerfeld
      </p>
      
      <!-- Navigation -->
      <div class="w3-padding-32">
        <div class="w3-bar w3-border navbar-container">
          <a routerLink="/portraits" class="w3-bar-item w3-button">Portraits</a>
          <a routerLink="/street" class="w3-bar-item w3-button w3-light-grey">Street</a>
          <a routerLink="/products" class="w3-bar-item w3-button">Products</a>
          <a routerLink="/landscape" class="w3-bar-item w3-button w3-light-grey">Landscape</a>
          <a routerLink="/graduation" class="w3-bar-item w3-button">Graduation</a>
          <a routerLink="/aesthetics" class="w3-bar-item w3-button w3-light-grey">Aesthetics</a>
          <a routerLink="/contact" class="w3-bar-item w3-button">Contact</a>
        </div>
      </div>
    </header>
    
  </div>
  
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-large" [style.background-color]="'var(--bg-footer)'"> 
  <a target="_blank" title="ig" href="https://www.instagram.com/thephotograbert" class="fa fa-instagram w3-hover-opacity"></a>
  <a target="_blank" title="ln" href="https://www.linkedin.com/in/albert-youssef-5420341ba/" class="fa fa-linkedin w3-hover-opacity"></a>
  <a target="_blank" title="main" href="https://www.albruh.tech" class="fa fa-home w3-hover-opacity"></a>
</footer>