<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:1vh 16px">
  <h1 id="name">Albert Youssef</h1>
  
  <div class="w3-padding-32">
    <div class="w3-bar w3-border">
      <a routerLink="/" class="w3-bar-item w3-button w3-light-grey">Home</a>
      <a routerLink="/portraits" class="w3-bar-item w3-button">Portraits</a>
      <a routerLink="/street" class="w3-bar-item w3-button w3-light-grey">Street</a>
      <a routerLink="/products" class="w3-bar-item w3-button">Products</a>
      <a routerLink="/landscape" class="w3-bar-item w3-button w3-light-grey">Landscape</a>
      <a routerLink="/graduation" class="w3-bar-item w3-button">Graduation</a>
      <a routerLink="/aesthetics" class="w3-bar-item w3-button w3-light-grey">Aesthetics</a>
      <a routerLink="/contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</header>

<!-- Photo Grid -->
<div class="w3-row-padding" style="margin-bottom:128px">
  <div class="w3-half">
    <img alt="icecream" src="assets/products/thumbnails/DSC_0013.jpg" style="width:100%; cursor:pointer;" (click)="openModal('assets/products/DSC_0013.jpg')">
    <img alt="milk tea" src="assets/products/thumbnails/DSC_0212.jpg" style="width:100%; cursor:pointer;" (click)="openModal('assets/products/DSC_0212.jpg')">
    <img alt="product photography" src="assets/products/thumbnails/DSCF0506-min.JPG" style="width:100%; cursor:pointer;" (click)="openModal('assets/products/DSCF0506.JPG')">
    <img alt="beverage shot" src="assets/products/thumbnails/DSCF0516-min.JPG" style="width:100%; cursor:pointer;" (click)="openModal('assets/products/DSCF0516.JPG')">
    <img alt="drink photography" src="assets/products/thumbnails/DSCF0517-min.JPG" style="width:100%; cursor:pointer;" (click)="openModal('assets/products/DSCF0517.JPG')">
    <img alt="product shot" src="assets/products/thumbnails/DSCF9561-min.JPG" style="width:100%; cursor:pointer;" (click)="openModal('assets/products/DSCF9561.JPG')">
    <img alt="commercial photography" src="assets/products/thumbnails/DSCF9848-min.JPG" style="width:100%; cursor:pointer;" (click)="openModal('assets/products/DSCF9848.JPG')">
    <img alt="food photography" src="assets/products/thumbnails/DSCF9850-min.JPG" style="width:100%; cursor:pointer;" (click)="openModal('assets/products/DSCF9850.JPG')">
  </div>
  <div id="mid"> </div>
  <div class="w3-half">
    <img alt="recess" src="assets/products/thumbnails/DSC_0167.jpg" style="width:100%; cursor:pointer;" (click)="openModal('assets/products/DSC_0167.jpg')">
    <img alt="oreo smoothie" src="assets/products/thumbnails/DSC_0185.JPG" style="width:100%; cursor:pointer;" (click)="openModal('assets/products/DSC_0185.JPG')">
    <img alt="ube milk tea" src="assets/products/thumbnails/DSC_0008.JPG" style="width:100%; cursor:pointer;" (click)="openModal('assets/products/DSC_0008.JPG')">
    <img alt="product detail" src="assets/products/thumbnails/DSCF9904-min.JPG" style="width:100%; cursor:pointer;" (click)="openModal('assets/products/DSCF9904.JPG')">
    <img alt="beverage photography" src="assets/products/thumbnails/DSCF9910-min.jpg" style="width:100%; cursor:pointer;" (click)="openModal('assets/products/DSCF9910.jpg')">
    <img alt="drink styling" src="assets/products/thumbnails/DSCF9993-min.jpg" style="width:100%; cursor:pointer;" (click)="openModal('assets/products/DSCF9993.jpg')">
    <img alt="commercial shot" src="assets/products/thumbnails/DSCF9998-min.JPG" style="width:100%; cursor:pointer;" (click)="openModal('assets/products/DSCF9998.JPG')">
  </div>
</div>
  
<!-- End Page Content -->
</div>

<!-- Modal/Lightbox -->
<div *ngIf="isModalOpen" class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button (click)="closeModal()" class="close-btn">&times;</button>
    <img [src]="selectedImage" 
         [style.transform]="getImageTransform()" 
         [style.transform-origin]="transformOriginX + ' ' + transformOriginY"
         [class.dragging]="hasMoved && isDragging"
         [class.draggable]="zoomLevel > 1"
         class="modal-image" 
         alt="Full resolution image"
         (mousedown)="onImageMouseDown($event)"
         (mousemove)="onImageMouseMove($event)"
         (mouseup)="onImageMouseUp($event)"
         (dragstart)="$event.preventDefault()">
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large"> 
  <a target="_blank" title="ig" href="https://www.instagram.com/thephotograbert" class="fa fa-instagram w3-hover-opacity"></a>
  <a target="_blank" title="ln" href="https://www.linkedin.com/in/albert-youssef-5420341ba/" class="fa fa-linkedin w3-hover-opacity"></a>
  <a target="_blank" title="main" href="https://www.albruh.tech" class="fa fa-home w3-hover-opacity"></a>
</footer>